@import url("https://fonts.googleapis.com/css2?family=Baloo+2:wght@500&family=Iceland&family=Poppins&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Monoton&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
html {
  font-size: 62.5%;
}
.header {
  padding: 0 4rem;
  height: 10rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: white;
}
.logo a {
  font-size: 4rem;
  font-family: "Lucida Sans", "Lucida Sans Regular", "Lucida Grande",
    "Lucida Sans Unicode", Geneva, Verdana, sans-serif;
  color: black;
  letter-spacing: 0.9rem;
  cursor: pointer;
  text-decoration: none;
}
.header .purp {
  color: #5800ff;
  font-size: 4rem;
  font-family: "Lucida Sans", "Lucida Sans Regular", "Lucida Grande",
    "Lucida Sans Unicode", Geneva, Verdana, sans-serif;
}
.navbar-list {
  display: flex;
  gap: 4rem;
  list-style: none;
}
.navbar-link {
  display: inline-block;
  text-decoration: none;
  text-transform: uppercase;
  font-size: 1.7rem;
  font-weight: 500;
  color: black;
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
  transition: all 0.2s;
}
.navbar-link:hover,
.navbar-link:active {
  transform: scale(1.2);
}
.Sign {
  text-decoration: none;
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
  font-weight: 500;
  font-size: 2rem;
  text-transform: uppercase;
  background: linear-gradient(
    17deg,
    rgba(255, 0, 216, 1) 0%,
    rgba(7, 0, 252, 1) 100%
  );
  padding: 1.3rem;
  color: white;
  border-radius: 0.8rem;
  transition: all 0.3s;
}
.Sign:hover {
  text-shadow: 0.2rem 0.2rem 0.5rem white;
  background: linear-gradient(
    17deg,
    rgb(255, 230, 0) 0%,
    rgb(252, 130, 0) 100%
  );
  color: black;
}
/****Title Container***********/
.container {
  width: 100%;
  height: 55rem;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  background-image: url(title_bg.gif);
  border-bottom: 0.9rem solid rgb(255, 255, 5);
}
.container h1 {
  font-family: "Monoton", sans-serif;
  font-size: 8rem;
  color: White;
  letter-spacing: 5px;
  cursor: pointer;
}
/****Event_container***/
.event_container {
  position: absolute;
  width: 100%;
  height: 170rem;
  display: flex;
  justify-content: center;
  align-items: center;
}
.box1,
.box2,
.box3 {
  position: relative;
  margin-left: 15rem;
  margin-top: 10rem;
  width: 120rem;
  height: 45rem;
  display: flex;
  border: 0.4rem solid #5800ff;
  border-radius: 0.9rem;
  box-shadow: 32px 32px 64px #acacac, -32px -32px 64px #ffffff;
  cursor: pointer;
}

/*******************************BOX 1 STYLE CSS****************************************/
.img_div {
  width: 50rem;
  height: 44.2rem;
  background-image: url(mental.jpg),
    linear-gradient(17deg, rgba(27, 255, 0, 1) 0%, rgba(255, 0, 0, 1) 100%);
  background-size: cover;
  background-position: 490px;
  border-right: 0.3rem solid #5800ff;
}
.box1:hover .colorgrad {
  width: 100%;
  height: 100%;
  background: linear-gradient(
    17deg,
    rgba(255, 0, 254, 1) 0%,
    rgba(251, 0, 10, 1) 43%,
    rgba(255, 217, 0, 1) 100%
  );
  opacity: 0.4;
}
.textContainer {
  width: 100%;
  height: 45rem;
}
.head {
  width: 100%;
  height: 10rem;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
  font-size: 5rem;
  color: black;
}
.text {
  width: 100%;
  height: 34rem;
  display: flex;
  justify-content: center;
}
.text p {
  font-size: 2rem;
  color: black;
  font-family: "Poppins", sans-serif;
  border-radius: 1rem;
  margin-left: 3rem;
  margin-top: 3rem;
}
.btn1 {
  position: absolute;
  top: 80%;
  left: 78%;
  width: 22rem;
  background: linear-gradient(
    310deg,
    rgba(255, 255, 255, 1) 4%,
    rgba(255, 0, 0, 1) 4%,
    rgba(113, 0, 252, 1) 96%,
    rgba(255, 255, 255, 1) 96%
  );
  border: white;
  opacity: 1;
  padding: 1.2rem;
  color: white;
  font-family: "Iceland", cursive;
  font-size: 2.5rem;
}

.text h2 {
  opacity: 1;
  position: absolute;
  top: 84%;
  left: 32%;
  font-size: 2rem;
  font-family: "Poppins";
  color: black;
}
.box1 span {
  padding: 1rem;
  color: red;
  font-family: "Iceland", cursive;
  font-size: 3rem;
}

/*****************************BOX2 STYLE CSS*********************************************/

.box2:hover .colorgrad_1 {
  width: 100%;
  height: 100%;
  background-image: radial-gradient(
    circle farthest-corner at 10% 20%,
    rgb(243, 4, 231) 17.8%,
    rgb(4, 222, 230) 100.2%
  );
  opacity: 0.5;
}
.img_div_2 {
  width: 50rem;
  height: 44.2rem;
  background-image: url(mental1.jpg);
  /* linear-gradient(17deg, rgba(27, 255, 0, 1) 0%, rgba(255, 0, 0, 1) 100%); */
  background-size: cover;
  background-position: 400px;
  border-right: 0.3rem solid #5800ff;
}

.textContainer_1 {
  width: 100%;
  height: 45rem;
}
.head_1 {
  width: 100%;
  height: 10rem;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
  font-size: 5rem;
  color: black;
}
.text_1 {
  width: 100%;
  height: 34rem;
  display: flex;
  justify-content: center;
}
.text_1 p {
  font-size: 2rem;
  color: black;
  font-family: "Poppins", sans-serif;
  border-radius: 1rem;
  margin: 3rem 0rem 0rem 3rem;
}
.btn1_1 {
  position: absolute;
  top: 80%;
  left: 78%;
  width: 22rem;
  background: linear-gradient(
    310deg,
    rgba(255, 255, 255, 1) 4%,
    rgba(255, 0, 0, 1) 4%,
    rgba(113, 0, 252, 1) 96%,
    rgba(255, 255, 255, 1) 96%
  );
  opacity: 1;
  padding: 1.2rem;
  color: white;
  font-family: "Iceland", cursive;
  font-size: 2.5rem;
  border: none;
}
.text_1 h2 {
  opacity: 1;
  position: absolute;
  top: 84%;
  left: 32%;
  font-size: 2rem;
  font-family: "Poppins";
  color: black;
}
.box2 span {
  padding: 1rem;
  color: #ff1212;
  font-family: "Iceland", cursive;
  font-size: 3rem;
}
/****************************BOX 3 STYLE CSS*********************************************/
.box3:hover .colorgrad_2 {
  width: 100%;
  height: 100%;
  background: linear-gradient(
    17deg,
    rgba(255, 0, 0, 1) 0%,
    rgba(7, 0, 252, 1) 100%
  );
  opacity: 0.3;
}
.img_div_3 {
  width: 50rem;
  height: 44.2rem;
  background-image: url(mental2.jpg);
  background-size: cover;
  background-position: 510px;
  border-right: 0.3rem solid #5800ff;
}

.textContainer_2 {
  width: 100%;
  height: 45rem;
}
.head_2 {
  width: 100%;
  height: 10rem;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
  font-size: 5rem;
  color: black;
}
.text_2 {
  width: 100%;
  height: 34rem;
  display: flex;
  justify-content: center;
}
.text_2 p {
  font-size: 2rem;
  color: black;
  font-family: "Poppins", sans-serif;
  margin: 3rem 0rem 0rem 3rem;
  border-radius: 1rem;
}
.btn1_2 {
  position: absolute;
  top: 80%;
  left: 78%;
  width: 22rem;
  background: linear-gradient(
    310deg,
    rgba(255, 255, 255, 1) 4%,
    rgba(255, 0, 0, 1) 4%,
    rgba(113, 0, 252, 1) 96%,
    rgba(255, 255, 255, 1) 96%
  );
  opacity: 1;
  padding: 1.2rem;
  color: white;
  font-family: "Iceland", cursive;
  font-size: 2.5rem;
  border: none;
}

.text_2 h2 {
  opacity: 1;
  position: absolute;
  top: 84%;
  left: 32%;
  font-size: 2rem;
  font-family: "Poppins";
  color: black;
}
.box3 span {
  padding: 1rem;
  color: #ff0022;
  font-family: "Iceland", cursive;
  font-size: 3rem;
}
::selection {
  background-color: blueviolet;
  color: white;
}
::-webkit-scrollbar {
  display: none;
}

.reveal {
  transform: translateY(150px);
  opacity: 0;
  transition: all 2s ease;
}

.reveal.active {
  transform: translateY(0px);
  opacity: 1;
}
.popup {
  width: 100rem;
  border: 1rem solid white;
  border-radius: 2rem;
  background: linear-gradient(
    167deg,
    rgba(255, 0, 0, 1) 0%,
    rgba(113, 0, 252, 1) 100%
  );
  position: absolute;
  top: 0%;
  left: 15%;
  transform: scale(0.1);
  text-align: center;
  padding: 0 3rem 3rem;
  visibility: hidden;
  transition: all 0.3s, top 0.4s;
}
.popup h2 {
  font-size: 8rem;
  font-family: "Monoton", sans-serif;
  color: white;
  font-weight: 500;
  margin: 1rem 0 1rem;
}
.popup p {
  font-size: 3rem;
  font-family: "Poppins", sans-serif;
  font-weight: 500;
  margin: 3rem 0 1rem;
  color: white;
}
.popup button {
  width: 50%;
  margin-top: 6rem;
  padding: 1rem 0;
  color: black;
  border: 0;
  outline: none;
  font-size: 3rem;
  border-radius: 0.4rem;
  cursor: pointer;
}
.blurer {
  visibility: hidden;
  transition: all 0s;
}
.open-popup {
  visibility: visible;
  top: 4%;
  transform: scale(1);
}

.popup1 {
  width: 100rem;
  border: 1rem solid white;
  background: linear-gradient(
    167deg,
    rgba(255, 0, 0, 1) 0%,
    rgba(113, 0, 252, 1) 100%
  );
  border-radius: 2rem;
  position: absolute;
  top: 0%;
  left: 15%;
  transform: scale(0.1);
  text-align: center;
  padding: 0 3rem 3rem;
  visibility: hidden;
  transition: all 0.3s, top 0.4s;
}
.popup1 h2 {
  font-size: 8rem;
  font-family: "Monoton", sans-serif;
  color: white;
  font-weight: 500;
  margin: 1rem 0 1rem;
}
.popup1 p {
  font-size: 3rem;
  font-family: "Poppins", sans-serif;
  font-weight: 500;
  margin: 3rem 0 1rem;
  color: white;
}
.popup1 button {
  width: 50%;
  margin-top: 6rem;
  padding: 1rem 0;
  color: black;
  border: 0;
  outline: none;
  font-size: 3rem;
  border-radius: 0.4rem;
  cursor: pointer;
}
.blurer {
  visibility: hidden;
  transition: all 0s;
}
.open-popup1 {
  visibility: visible;
  top: 36%;
  transform: scale(1);
}
.popup2 {
  width: 100rem;
  border: 1rem solid white;
  background: linear-gradient(
    167deg,
    rgba(255, 0, 0, 1) 0%,
    rgba(113, 0, 252, 1) 100%
  );
  position: absolute;
  border-radius: 2rem;
  top: 0%;
  left: 15%;
  transform: scale(0.1);
  text-align: center;
  padding: 0 3rem 3rem;
  visibility: hidden;
  transition: all 0.3s, top 0.4s;
}
.popup2 h2 {
  font-size: 8rem;
  font-family: "Monoton", sans-serif;
  color: white;
  font-weight: 500;
  margin: 1rem 0 1rem;
}
.popup2 p {
  font-size: 3rem;
  font-family: "Poppins", sans-serif;
  font-weight: 500;
  margin: 3rem 0 1rem;
  color: white;
}
.popup2 button {
  width: 50%;
  margin-top: 6rem;
  padding: 1rem 0;
  color: black;
  border: 0;
  outline: none;
  font-size: 3rem;
  border-radius: 0.4rem;
  cursor: pointer;
}
.blurer {
  visibility: hidden;
  transition: all 0s;
}
.open-popup2 {
  visibility: visible;
  top: 70%;
  transform: scale(1);
}
